#title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
}

#layoutContainer {
  width: 1280px;
  height: 720px;
  text-align: center;
}

.controlButtons{
  font-size: 40px;
  height: 40px;
  text-align: center;
}

.controlButtons :hover{
  background-color: transparent;
}

.controlButton{
  margin-left: 80px;
  cursor: pointer;
  font-size: 40px;
  height: 40px;
}

.controlButton{
  background-color: transparent;
}

.controlButtonFirst{
  margin-left: 50px;
  cursor: pointer;
  font-size: 40px;
  height: 40px;
}

.controlButtonLast{
  margin-left: 100px;
  margin-right: 50px;
  cursor: pointer;
  font-size: 40px;
  height: 40px;
}

#middleContainer{
  padding-top: 20px;
  display: inline-block;
}

.middleElement{
  float: left;
  font-size: 40px;
  padding-top: 230px;
  padding-bottom: 230px;
}

#playPrevious{
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 40px;
  padding-top: 230px;
  padding-bottom: 230px;
  text-align: left;
  cursor: pointer;
}

#middleElement{
  display: inline-block;
  width: 1000px;
  height: 40px;
}

#playNext{
  display: inline-block;
  width: 100px;
  height: 40px;
  font-size: 40px;
  padding-top: 230px;
  padding-bottom: 230px;
  text-align: right;
  cursor: pointer;
}

#playNext :hover{
  color: yellow;
}

#playPrevious :hover{
  color: yellow;
}

.controlButtons :hover{
  color: yellow;
  background-color: transparent;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background,
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 95%;
}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: red;
}
::ng-deep .mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}
